@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

/* #root {
  min-height: 100vh;
  overflow: auto;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* ------main colors----- */
  --main-green: #8baa36;
  --main-black: #1e1f28;
  --main-white: #fafafa;
  --main-text: #3e4462;
  --total-white: #ffffff;
  /*------background colors------*/
  --background-main-dark: #1e1f28;
  --background-additional-dark: #2a2c36;
  --background-light-green: #ebf3d4;
  /*-----registration colors-----*/
  --warning: #f6c23e;
  --error: #e74a3b;
  --success: #3cbc81;
  /*-----other colors-----*/
  --grey: #d9d9d9;
  --categories-dark: #001833;
  --buttons-dark: #22252a;
  --heading-dark: #001833;
  --navigation-dark: #23262a;
  --background-additional-grey: #38393a;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
}

li {
  list-style-type: none;
}

/* ------MIXIN------ */
@mixin mobile-retina {
  @media (max-width: 767px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-retina {
  @media (min-width: 768px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin desktop-retina {
  @media (min-width: 1280px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
