.userLogo {
  display: flex;
  align-items: center;
  position: absolute;
}

.iconSpan {
  width: 44px;
  height: 44px;
}

.iconSvg {
  stroke: var(--main-green);
  fill: var(--main-green);
}

.iconSvg:hover {
  stroke: var(--buttons-dark);
}

.userImg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-style: none;
  margin-right: 10px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--buttons-dark);
}

.userLogoModal {
  background-color: var(--main-white);
  padding: 18px;
  border-radius: 8px;
  position: relative;
  top: 104px;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.editButton {
  border: none;
  background-color: transparent;
}

.logoutButton {
  display: flex;
  align-items: center;
  background-color: var(--main-green);
  color: var(--main-white);
  border-radius: 24px 44px;
  border: 1px solid var(--main-green);
  padding: 12px 35px;
  font-size: 14px;
}

.logoutButtonText {
  padding-right: 4px;
}
