.background {
  display: flex;
  justify-content: center;
  color: #fafafa;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/images/backgrounds/background-start-mobile.png");

  @media screen and (min-width: 768px) {
    background-image: url("/src/images/backgrounds/background-start-tablet.png");
  }

  @media screen and (min-width: 1280px) {
    background-image: url("/src/images/backgrounds/background-start-desktop.png");
  }
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 44px;
  fill: #8baa36;
  width: 54px;
  height: 54px;

  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
  }
}

.headline {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}
.headline:hover {
  letter-spacing: 0.5px;
}

.text {
  font-size: 14px;
  max-width: 600px;
  /* line-height: 18; */
  text-align: center;
  padding: 14px 35px 44px;
  font-weight: 400;

  @media (min-width: 768px) {
    /* line-height: 24; */
    padding: 0 35px;
    font-size: 18px;
    padding: 14px 35px 40px;
  }
}

.filledbutton {
  background-color: var(--main-green);
  color: var(--main-white);
  border-radius: 24px 44px;
  border: 1px solid var(--main-green);
  padding: 12px 24px;
  font-size: 14px;
  margin-right: 18px;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 22px 44px;
  }
}

.filledbutton:hover {
  background-color: var(--buttons-dark);
  border: 1px solid var(--buttons-dark);
}

.outlinedbutton {
  background-color: transparent;
  color: var(--main-white);
  border-radius: 24px 44px;
  border: 1px solid var(--main-white);
  padding: 12px 24px;
  font-size: 14px;

  @media (min-width: 768px) {
    padding: 22px 44px;
    font-size: 16px;
  }
}

.outlinedbutton:hover {
  border: 1px solid var(--main-green);
  color: var(--main-green);
}
