.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  margin: 50px 0 50px 16px;
}
.shoppingList {
  margin-bottom: 100px;
}
.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #8baa36;
  color: #fafafa;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 8px 32px 8px;
}
.rightHead {
  display: flex;
  gap: 24px;
}
.ingredients {
  display: flex;
  flex-direction: column;
  margin: 0 16px 100px 16px;
}
/* IngredientItem */
.ingredient {
  display: flex;
  justify-content: space-between;
}
.ingredientWrapper {
  display: flex;
  align-items: flex-start;
}
.measureWrapper {
  composes: ingredientWrapper;
  gap: 46px;
}
.imageOfIngredient {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf3d4;
  width: 60px;
  height: 60px;
}
.image {
  width: 48px;
  height: 48px;
}
.nameOfIngredient {
  margin-left: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
}
.amountOfIngredient {
  width: 37px;
  height: 23px;
  padding: 4px 14px;
  background-color: #8baa36;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;
  border-radius: 4px;
}
.close {
  stroke: #000000;
  fill: #000000;
  width: 8px;
  height: 8px;
  z-index: 9;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .head {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  .rightHead {
    gap: 78px;
  }
  .ingredients {
    margin-top: 50px;
    gap: 44px;
  }
  .ingredient {
    padding-bottom: 43px;
  }
  .imageOfIngredient {
    width: 93px;
    height: 97px;
  }
  .image {
    width: 81px;
    height: 81px;
  }
  .amountOfIngredient {
    padding: 4px 8px;
    font-size: 18px;
    line-height: 1.5;
    width: 92px;
  }
  .measureWrapper {
    gap: 110px;
  }
  .ingredientWrapper {
    gap: 78px;
  }
}
@media screen and (min-width: 1280px) {
  .head {
    padding: 17px 40px;
  }
  .rightHead {
    gap: 142px;
  }
}
