.shoppingList {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients {
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #8baa36;
  color: #fafafa;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 8px 32px 8px;
  width: 359px;
}
.rightHead {
  display: flex;
  gap: 24px;
}
/* IngredientItem */
.ingredient {
  padding-top: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ingredientWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.measureWrapper {
  composes: ingredientWrapper;
  gap: 40px;
}
.imageOfIngredient {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf3d4;
  width: 60px;
  height: 60px;
}
.image {
  width: 48px;
  height: 48px;
}
.nameOfIngredient {
  margin-left: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
}
.amountOfIngredient {
  width: 37px;
  height: 23px;
  padding: 4px 14px;
  background-color: #8baa36;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;
  border-radius: 4px;
}
.close {
  border: 0;
  background-color: inherit;
}
.close svg {
  width: 7.88px;
  height: 7.88px;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.amountOfIngredient {
  padding: 4px 8px;
  line-height: 1.5;
  width: 92px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  min-width: 37px;
  height: auto;
  background: var(--main-green);
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
}
.ingredientWrapper p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .head {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    width: 704px;
  }
  .rightHead {
    gap: 78px;
  }
  .ingredients {
    gap: 44px;
    width: 704px;
  }
  .ingredient {
    padding-bottom: 43px;
    padding-top: 45px;
  }
  .imageOfIngredient {
    width: 93px;
    height: 97px;
  }
  .image {
    width: 81px;
    height: 81px;
  }
  .amountOfIngredient {
    min-width: 68px;
    font-size: 18px;
  }
  .measureWrapper {
    gap: 114px;
  }
  .ingredientWrapper {
    display: flex;
  }
  .ingredientWrapper p {
    margin-left: 16px;
    font-size: 16px;
    line-height: 1.5;
  }
  .shoppingList {
    margin: 72px 0;
  }
  .close svg {
    width: 11.25px;
    height: 11.25px;
  }
}
@media screen and (min-width: 1280px) {
  .head {
    padding: 17px 40px;
    width: 1240px;
  }
  .rightHead {
    gap: 142px;
  }
  .ingredients {
    width: 1160px;
  }
  .measureWrapper {
    gap: 178px;
  }
}
