/* ------FONTS------ */
// $main-font: 'Roboto', sans-serif;

/* ------COLORS------ */
/* ------main colors----- */
$main-green: #8BAA36;
$main-black: #1E1F28;
$main-white: #FAFAFA;
$main-text: #3E4462;
$total-white: #FFFFFF;
/*------background colors------*/
$background-main-dark: #1E1F28;
$background-additional-dark: #2A2C36;
$background-light-green: #EBF3D4;
/*-----registration colors-----*/
$warning: #F6C23E;
$error: #E74A3B;
$success: #3CBC81;
/*-----other colors-----*/
$grey: #D9D9D9;
$categories-dark: #001833;
$buttons-dark: #22252A;
$heading-dark: #001833;
$navigation-dark: #23262A;
li {
  list-style-type: none;
}