a {
    cursor: pointer;
}

.footer {
    margin: auto;
    background-color: #22252A;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

label {

    position: relative;
}


label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

input {
    background-color: inherit;
    height: 38px;
    padding-left: 35px;
    max-width: 230px;
    border: 1px;
    outline: 1px solid #FAFAFA;
    border-radius: 6px;
    color: #FAFAFA;
}

.footerForm button {
    width: 204px;
    height: 38px;
    border-radius: 6px;
    max-width: 230px;
    background-color: #8BAA36;
    outline: none;
    color: #FAFAFA;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.015em;
    color: #FAFAFA;
}

.logoPart {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoPart img {
    cursor: pointer;
}

.footerLink {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
}

.footerLink:hover {
    color: #8BAA36;
}

.footerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footerForm button {
    width: 204px;
}

.media {
    display: flex;
    gap: 10px;
}

.listLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastPart {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    background: url('/src/images/backgrounds/footer-leaves-right-mobile.png');
}

.lastPart span {
    color: #22252A;
    size: 10px;
    line-height: 10px;
}