a {
  cursor: pointer;
}
.firstPart {
  margin: auto;
  background-color: #22252a;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.footerFormLabel {
  position: relative;
}
.inputWithIcon {
  display: flex;
  align-items: center;
  position: relative;
}
.footerFormInput {
  background-color: inherit;
  max-height: 38px;
  padding-left: 35px;
  padding-block: 10px;
  border: 1px;
  outline: 1px solid #38393a;
  border-radius: 6px;
  color: #fafafa;
  min-width: 167px;
  @media screen and (min-width: 1280px) {
    min-width: 267px;
    width: 339px;
    padding-block: 20px;
  }
}
/* .iconBefore::before {
  content: "";
  width: 20px;
  height: 16px;
  background: url('data:image/svg+xml;utf8,<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 1H19C19.5299 1.00158 20.0377 1.2128 20.4125 1.58753C20.7872 1.96227 20.9984 2.47005 21 3V15C20.9984 15.5299 20.7872 16.0377 20.4125 16.4125C20.0377 16.7872 19.5299 16.9984 19 17H3C2.47005 16.9984 1.96227 16.7872 1.58753 16.4125C1.2128 16.0377 1.00158 15.5299 1 15V3C1.00158 2.47005 1.2128 1.96227 1.58753 1.58753C1.96227 1.2128 2.47005 1.00158 3 1V1Z" stroke="#FAFAFA" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M21 3L11 10L1 3" stroke="#FAFAFA" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></svg>') center no-repeat;
  background-size: contain;
  position: 
} */
.footerFormInput::placeholder {
  font-size: 12px;
  color: #fafafa;
}
.footerForm button {
  width: 239px;
  height: 38px;
  border-radius: 6px;
  background-color: #8baa36;
  border: none;
  color: #fafafa;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    min-width: 304px;
  }
}
ul {
  padding: 0;
}
li {
  text-decoration: none;
}
.logoPart {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.logo {
  cursor: pointer;
}
.logoPart h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #fafafa;
}
.footerLink {
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  cursor: pointer;
  text-decoration: none;
}
.footerLink:hover {
  color: #8baa36;
}
.footerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 20px;

    @media screen and (min-width: 1280px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.footerForm button {
  width: 204px;

  @media screen and (min-width: 1280px) {
    width: 339px;
    height: 40px;
  }
}
.listLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.lastPart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
  background: url("/src/images/backgrounds/footer-leaves-right-mobile.png")
    no-repeat;
  background-position: right center;
}
.lastPart span {
  color: rgba(34, 37, 42, 0.5);
  size: 10px;
  line-height: 10px;
}
.media {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  list-style: none;
}
.description {
  display: none;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 150px;
    align-items: flex-end;
  }
}
.descriptionForm {
  display: none;
  color: #fafafa;
  max-width: 300px;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.descriptionForm h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.descriptionForm span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
.wrapperOutside {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    align-items: center;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      gap: 150px;
    }
  }
}
