h3 {
  color: var(--Color---Text-Primary, #3e4462);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}
