.notFound {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notFoundImage {
  width: 259px;
  height: 170px;
}
.notFoundText {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 100px;
}
.sorryText {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .notFoundText {
    font-size: 18px;
    margin-bottom: 204px;
  }
  .sorryText {
    font-size: 24px;
    margin-top: 32px;
  }
  .notFoundImage {
    width: 498px;
    height: 327px;
  }
}
